<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <img src="/assets/header.gif" alt="Bethany Rentz">
        <meta name="viewport" content="width=device-width">
        <title>{{ site.name }} </title>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <ul class="navigation">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/projects/" title="Projects I am or was involved in">Projects</a></li>
        <li><a href="/archive/"title="Archived articles">Archive</a></li>
        <li><a href="/about/">About me</a></li>
      </ul>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <a class="extra" href="/">home</a>
              <a class="extra" href="about.html">about</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Bethany Rentz<br />
                  Web Developer<br />
                  bethany.rentz@hotmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/bethanyr/">github.com/bethanyr</a><br />
                  <a href="http://twitter.com/bethanyrentz/">twitter.com/bethanyrentz</a><br />
                  <a href="www.linkedin.com/in/bethanyrentz/">linkedin.com/in/bethanyrentz</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
